# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Platform folders (optional – recommended)
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugin_registrant.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
